@use "./setting" as *;

form {
  margin: 0 auto;
  width: 70%;
  max-width: 800px;
  border-radius: 20px;

  @include mq(s) {
  }

  .inputLabel {
    font-size: 1.4rem;
    margin-top: 16px;
    margin-bottom: 8px;
    display: block;
  }

  input {
    height: 40px;
    width: 100%;
  }

  textarea {
    width: 100%;
    height: 200px;
  }

  // font in form
  input[type="text"],
  textarea[type="text"] {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }

  button {
    display: block;
    margin: 0 auto;
    width: fit-content;
    background-color: black;
    color: white;
    padding: 20px 40px;
    margin-top: 60px;
    cursor: pointer;
    box-shadow: 2px 1px 10px white;
    font-size: 1.2rem;

    &:hover {
      transform: translate(0, 4px);
      transition: 0.6s all ease;
      background-color: #172d60;
    }
  }
}

.thanks {
  text-align: center;
  font-size: 2rem;
}

//----------------------------------------
// Common Title (Animation)
//----------------------------------------
.commonTitle {
  background-image: linear-gradient(
    to left,
    #fff20d 0,
    #ff790d 14.28%,
    #ff0d1a 28.56%,
    #f20dff 42.85%,
    #0d93ff 57.14%,
    #0dfff2 71.42%,
    #93ff0d 85.71%,
    #fff20d 100%
  );
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  padding: 40px 0;

  background-size: 1000%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: gra 10s linear infinite;
  animation: gra 10s linear infinite;

  @include mq(s) {
    font-size: 32px;
    padding-bottom: 20px;
  }

  @include mq(m) {
    font-size: 40px;
    padding-bottom: 40px;
  }
}

@keyframes gra {
  to {
    background-position-x: -110%;
  }
}

