@use "./setting" as *;

.header {
  z-index: 2;
  // position: sticky;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  &.scrolled {
    opacity: 0.9;
  }

  .nav {
    display: grid;
    grid-template-columns: 0.6fr 0.8fr 0.6fr;
    place-items: center;

    @include mq(s) {
      grid-template-columns: 1fr 1fr ;
    }
    
    @include mq(m) {
      grid-template-columns: 1fr 1fr ;
      column-gap: 10%;
    }

    @include mq(l) {
      grid-template-columns: 1fr 1fr ;
      column-gap: 40%;
    }
  }

  .navLinks {

    @include mq(l) {
      display: none;
    }

    @include mq(m) {
      display: none;
    }

    @include mq(s) {
      display: none;
    }

    a {
      text-decoration: none;
      color: black;
      font-size: 1.6rem;
      margin: 0 12px;
      display: inline-block;
    }
  }

  .navLogo {
    margin-top: 2px;

    a {
      text-decoration: none;
      color: black;
      font-size: 2rem;
      margin: 0 12px;
      display: inline-block;

      @include mq(s) {
        font-size: 1.6rem;
        margin-top: 4px;
      }
      
      @include mq(m) {
        font-size: 2rem;
        margin-top: 6px;
      }
      @include mq(l) {
        margin-top: 6px;
      }
    }
  }

  .navSNS {

    @include mq(l) {
      display: none;

    }
    @include mq(m) {
      display: none;

    }
    @include mq(s) {
      display: none;
    }

    a {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}


