@use "./setting" as *;

.homeContents {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__leftMenu {
    width: 20%;
    margin-top: 3rem;
    position: sticky;
    top: 10%;
    height: 100vh;

    @include mq(s) {
      display: none;
    }
  
    @include mq(m) {
      display: none;
    }
  }

  &__body {
    width: 80%;
    padding: 4rem;
  }
}